<%- include("header") -%>
<h2> this is about page </h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta, saepe omnis? Fugit reprehenderit odio nihil architecto perferendis? Voluptatum ab exercitationem consequatur id!</p>
<%- include("footer") -%>